.app {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
* {
	background-color: rgb(194, 189, 182);
}
nav {
	display: flex;
	justify-content: space-evenly;
	background-color: aqua;
}
nav a {
	color: rgb(36, 36, 99);
	background-color: aqua;
}
img {
	height: 50px;
	width: 50px;
}
